[submodule "thirdparty/libepoxy"]
	path = thirdparty/libepoxy
	url = https://github.com/anholt/libepoxy
[submodule "thirdparty/glew"]
	path = thirdparty/glew
	url = https://github.com/nigels-com/glew
[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "thirdparty/imterm"]
	path = thirdparty/imterm
	url = https://github.com/Organic-Code/ImTerm
